@model RentHive.Models.UserDataGetter
@{
    ViewData["Title"] = "Profile";
}
<div class="home-index">
    <div class="side-nav">
        <div class="user">
            @* <a href="@Url.Action("Profile", "UserManagement",new { TempuserId = Model.Acc_id})"> *@
            <img src="~/images/logo2.png" class="user-img" />
            @* </a> *@
            @* <div class="user-name">
            <h2>@Model.Acc_DisplayName</h2>
            <p>@Model.Acc_UserType</p>
            </div> *@
        </div>

        <ul class="menu-list">
            <li class="menu-item">
                <img class="menu-icon" src="~/images/dashboard.png" /><a class="menu-text" onclick="location.href='@Url.Action("Index", "Home", new {Acc_id = ViewBag.Acc_id})'">Home</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/group.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserList", "SystemManagement", new {Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
        , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})'">User List</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/user-post.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserPostList", "PostMonitoring", new {Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
        , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})'">User Posts</a>
            </li>
        </ul>

        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/images/logout.png" /><a href="#popup" class="menu-text">Logout</a></li>
        </ul>
    </div>



@*     <button class="close-button" onclick="location.href='@Url.Action("Index", "Home", new {Acc_id = Model.Acc_id})'">
        <img class="notification-icon" src="~/images/close.png" alt="Close">
    </button> *@
</div>
<div class="profile-holder">
    <div class="column1">
        <div class="profile-card">
            <img  src="~/images/logo_name.png" style="width: 100px; height: auto;" /><br />
            <h3>@Model.Acc_FirstName @Model.Acc_MiddleName @Model.Acc_LastName</h3>
            <p>@Model.Acc_DisplayName</p>
            <img id="img" src="~/images/user.png" style="border-radius: 50%; width: 150px; height: 150px;" />
            <p>@Model.Acc_UserType</p>
            <input style="width: 200px;" id="input" type="file" />
        </div>
        <div class="profile-setting">
            <h3>Settings</h3>
            <div><a class="text" asp-controller="UserManagement" asp-action="DeleteAccount" asp-route-TempuserId="@Model.Acc_id">Delete Account</a></div>
            <div><a class="text" asp-controller="UserManagement" asp-action="Signup" asp-route-TempuserId="@Model.Acc_id">Enroll New Administrator</a></div>
            <div><a type="button" class="text" href="#popup">Logout</a></div>
        </div>
    </div>
    <div class="column2">
        <div class="profile-details">
            <form asp-action="Profile" method="post">
                <h3>Account Details</h3>

                <input type="hidden" name="Acc_id" value="@Model.Acc_id" />

                <div class="col1">
                    <h5>Display Name</h5>
                    <input id="userDisplayName" name="Acc_DisplayName" value="@Model.Acc_DisplayName" class="underlined-input" readonly />
                </div>

                <div class="col2">
                    <div>
                        <h5>First Name</h5>
                        <input id="userFirstName" name="Acc_FirstName" value="@Model.Acc_FirstName" class="underlined-input" readonly />
                    </div>
                    <div>
                        <h5>Middle Name</h5>
                        <input id="userMiddleName" name="Acc_MiddleName" value="@Model.Acc_MiddleName" class="underlined-input" readonly />
                    </div>
                    <div>
                        <h5>Last Name </h5>
                        <input id="userLastName" name="Acc_LastName" value="@Model.Acc_LastName" class="underlined-input" readonly />
                    </div>
                </div>

                <div class="col3">
                    <div>
                        <h5>Contact Number</h5>
                        <input id="userPhoneNum" name="Acc_PhoneNum" value="@Model.Acc_PhoneNum" class="underlined-input" readonly />
                    </div>
                    <div>
                        <h5>Birthdate</h5>
                        <input id="userBirthDate" name="Acc_Birthdate" value="@Model.Acc_Birthdate" class="underlined-input" readonly />
                    </div>
                    <div>
                        <h5>Address </h5>
                        <input id="userAddress" name="Acc_Address" value="@Model.Acc_Address" class="underlined-input" readonly />
                    </div>
                </div>
                <div>
                    <h5>Email</h5>
                    <input id="userEmail" name="Acc_Email" type="email" class="underlined-input" value="@Model.Acc_Email" readonly />
                </div>
                <div>
                    <h5>Password</h5>
                    <input id="userPassword" name="Acc_Password" type="password" class="underlined-input" value="@Model.Acc_Password" readonly />
                </div>
                <div>
                    <button type="button" class="editButton">Edit</button>
                    <button type="submit" class="saveButton" style="display: none">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
    <div id="popup" class="action-button">
        <div class="border2">
            <h1>Log Out?</h1>
            <div class="message">
                <h4 style="color: white">Are you sure want to log out?</h4>
            </div>
            <form method="post">
                <a href="@Url.Action("Login", "UserManagement")" class="btn btn-danger">Yes</a>
                <a href="#" class="btn btn-primary">No</a>
            </form>
        </div>
    </div>
</div>

<script>
    let img = document.getElementById('img');
    let input = document.getElementById('input');

    input.onchange = (e) => {
        if (input.files[0]) {
            img.src = URL.createObjectURL(input.files[0]);
        }
    }

</script>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.ErrorMessage");
        }
    </script>
}