@model List<RentHive.Models.UserDataGetter>
@{
    ViewData["Title"] = "RentHive Users";
}
<div class="home-index">
    <div class="side-nav">
        <div class="user">
            @* <a href="@Url.Action("Profile", "UserManagement",new { TempuserId = Model.Acc_id})"> *@
            <img src="~/images/logo2.png" class="user-img" />
            @* </a> *@
            @* <div class="user-name">
            <h2>@Model.Acc_DisplayName</h2>
            <p>@Model.Acc_UserType</p>
            </div> *@
        </div>

        <ul class="menu-list">
            <li class="menu-item">
                <img class="menu-icon" src="~/images/dashboard.png" /><a class="menu-text" onclick="location.href='@Url.Action("Index", "Home", new {Acc_id = ViewBag.Acc_id})'">Home</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/group.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserList", "SystemManagement", new {Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
        , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})'">User List</a>
            </li>
            <li class="menu-item">
                <img class="menu-icon" src="~/images/user-post.png" /><a class="menu-text" onclick="location.href='@Url.Action("HiveUserPostList", "PostMonitoring", new {Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
        , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})'">User Posts</a>
            </li>
        </ul>

        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/images/logout.png" /><a href="#popup" class="menu-text">Logout</a></li>
        </ul>
    </div>
    <button class="notification-button" onclick="location.href='@Url.Action("Notification","System")'"><img class="notification-icon" src="~/images/bell.png"></button>

    <div class="hive-title-holder">
        <h1>RentHive Users Post List</h1>
    </div>
    <div class="hive-border-holder">
        <div class="table-content">
            <table>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Display</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Acc_id</td>
                        <td>@user.Acc_FirstName @user.Acc_MiddleName @user.Acc_LastName</td>
                        <td>@user.Acc_DisplayName</td>
                        <td>@user.Acc_Email</td>
                        <td>
                            <a href="@Url.Action("HiveUserPostDetails", "PostMonitoring", new {userID = @user.Acc_id, Acc_id = ViewBag.Acc_id,Acc_FirstName = ViewBag.Acc_FirstName, Acc_MiddleName = ViewBag.Acc_MiddleName, Acc_LastName = ViewBag.Acc_LastName
        , Acc_DisplayName = ViewBag.Acc_DisplayName, Acc_UserType = ViewBag.Acc_UserType})" class="text">View Details</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div id="popup" class="action-button">
    <div class="border2">
        <h1>Log Out?</h1>
        <div class="message">
            <h4 style="color: white">Are you sure you want to log out?</h4>
        </div>
        <form method="post" action="@Url.Action("Logout", "UserManagement")">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="#" class="btn btn-primary">No</a>
        </form>
    </div>
</div>
<div class="DataHolder">
    <input type="hidden" name="Acc_id" value="@ViewBag.Acc_Id" />
    <input type="hidden" name="Acc_FirstName" value="@ViewBag.Acc_FirstName" />
    <input type="hidden" name="Acc_MiddleName" value="@ViewBag.Acc_MiddleName" />
    <input type="hidden" name="Acc_LastName" value="@ViewBag.Acc_LastName" />
    <input type="hidden" name="Acc_DisplayName" value="@ViewBag.Acc_DisplayName" />
    <input type="hidden" name="Acc_UserType" value="@ViewBag.Acc_UserType" />
</div>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.ErrorMessage");
        }
    </script>
}
<script>
    window.onpopstate = function () {
        location.reload(); // Refresh the page when the back button is clicked
    };
</script>